<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="500">
            <label>Magenest</label>
        </tab>
        <section id="imagegallery" translate="label" type="text" sortOrder="100"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Image Gallery</label>
            <tab>magenest</tab>
            <resource>Magenest_ImageGallery::config_imagegallery</resource>
            <group id="gallerypage" translate="label" type="text" sortOrder="1"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Gallery Settings</label>
                <field id="verticaldimension" translate="label" type="text"
                       sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Vertical Dimension (%)</label>
                </field>

                <field id="horizontaldimension" translate="label" type="text"
                       sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Horizontal Dimension (%)</label>
                </field>
            </group>
        </section>
    </system>
</config>